#box{
    width: 600px;
    height: 600px;
    border: 1px solid #cccccc;
    margin: 40px auto;
    overflow: hidden;
    position:relative;
}
#box img{
    width: 600px;
    height: 600px;
    float: left;
}
#box span{
    width: 80px;
    height: 60px;
    background: #0000ff;
    color: #fff;
    display: block;
    border-radius: 20px;
    opacity: 0.4;
    line-height: 40px;
    font-size: 80px;
    position: absolute;
    text-align: center;
}
#left{
    left: 30px;
    top: 300px;

}
#right{
    right: 30px;
    top: 300px;

}