*{
    margin:0;
    padding:0;
    list-style: none;
}
#box{
    width: 500px;
    height: auto;
    margin: 40px auto;
}
#box ul{
    width: 500px;
    height: auto;
}
#box ul li{
    width: 500px;
    height:500px;
    position:relative;
    border: 2px solid #ccc;
}
#box ul li img{
    width: 500px;
    height: 500px;
}
#box ul li p{
    width: 500px;
    height:50px;
    line-height: 50px;
    color: #fff;
    background: rgba(0,0,0,1);
    opacity: 0.4;
    left:0;
    position: absolute;
    bottom:20px;
    text-align: center;
    display: none;
}