*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#box{
    width: 600px;
    /*height: 500px;*/
    background: salmon;
    margin: 60px auto;
    /*overflow: hidden;*/
    border: 5px solid #FA8072;
}
#box ul{
    padding-top: 10px;
    /*padding-left: 10px;*/
    height: 60px;
}
#box ul li{
    width: 100px;
    line-height: 60px;
    float: left;
    padding: 0 20px;
    font-size: 20px;
    background-color: #E6FAE1;
    color: #827BFA;
    border-right: 3px solid;
    text-align: center;
}
#content{
    height: auto;
    border-right: 20px seagreen;
}
#content p{
    height: auto;
    padding: 20px;
    background: rebeccapurple;
}