*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#box{
    width: 500px;
    height: 500px;
    background: #4B56FF;
    margin: 20px auto;
    position: relative;
}
#box .box1{
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
    left:225px;
    top:225px;
    border: 1px solid #ccc;
    /*right: 250px;*/
    /*bottom: -250px;*/
    -webkit-animation: mycss1 1s linear infinite alternate;
}
#box .box2{
    width: 50px;
    height: 50px;
    background: darkmagenta;
    position: absolute;
    -webkit-animation: mycss2 4s linear 1S infinite normal;
}
#box .box3{
    width: 50px;
    height: 50px;
    background: green;
    position: absolute;
    -webkit-animation: mycss3 4s linear infinite normal;
}
@-webkit-keyframes mycss1 {
    0%{
        -webkit-transform: scale(0.8)
    }
    100%{
        -webkit-transform: scale(2.0);
    }
}

@-webkit-keyframes mycss2 {
    0%{
        -webkit-transform: translate(0,0);
    }
    25%{
        -webkit-transform: translate(400px,0);
    }
    50%{
        -webkit-transform: translate(400px,400px);
    }
    75%{
        -webkit-transform: translate(0,400px);
    }
    100%{
        -webkit-transform: translate(0,0);
    }
}

@-webkit-keyframes mycss3 {
    0%{
        -webkit-transform: translate(0,0)
    }
    25%{
        -webkit-transform: translate(0,400px);
    }
    50%{
        -webkit-transform: translate(400px,400px);
    }
    75%{
        -webkit-transform: translate(400px,0);
    }
    100%{
        -webkit-transform: translate(0,0);
    }
}