*{
    margin: 0;
    padding: 0;
    list-style: none;
}
#box{
    width: 100px;
    height: 50px;
    background: #f5f5f5;
    margin: 20px auto;
}
#box div{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: red;
    display: inline-block;
}
/*定义animate属性*/
#box .loading1{
    -webkit-animation: mycss1 1s linear infinite alternate;
}
#box .loading2{
    -webkit-animation: mycss2 1s linear infinite alternate ;
}
#box .loading2{
    background: blue;
}
/*定义实现效果*/
@-webkit-keyframes mycss1 {
    0%{
        -webkit-transform: scale(0.8)
    }
    100%{
        -webkit-transform: scale(1.2);
    }
}
/*定义实现效果*/
@-webkit-keyframes mycss2 {
    0%{
        -webkit-transform: scale(1.2)
    }
    100%{
        -webkit-transform: scale(0.8);
    }
}
/*-webkit-transform:旋转：rotate(),rotate(x,y,z)
                    倾斜：skew()
                    缩放：scale()
                    平移：translate() */