#box{
    width: 980px;
    height: 540px;
    background: salmon;
}
#head{
    height: 70px;
    background: saddlebrown;
}
#nav{
    height: 40px;
    background: seagreen;
}
#content{
    height: 300px;
    background: seashell;
}
#footer{
    height: 108px;
    background: red;
}